<form class="form">
  <h2 class="form__title">Ajouter une tâche</h2>
  <div class="form__fields">
    <input type="text" class="form__input">
    <button type="submit" class="form__submit">Ajouter</button>
  </div>
</form>
<ul>
  <li class="task">
    <div class="task__content">
      <p class="task__label">Publier un article sur Angular</p>
      <input type="text" class="task__input" placeholder="Modifier l'intitulé..." />
    </div>
    <button type="button" class="task__button">Fini !</button>
  </li>
  <li class="task">
    <div class="task__content">
      <p class="task__label">Créer une chaîne YouTube</p>
      <input type="text" class="task__input" placeholder="Modifier l'intitulé..." />
    </div>
    <button type="button" class="task__button">Fini !</button>
  </li>
  <li class="task">
    <div class="task__content">
      <p class="task__label">Faire une vidéo sur une to-do-list en React</p>
      <input type="text" class="task__input" placeholder="Modifier l'intitulé..." />
    </div>
    <button type="button" class="task__button">Fini !</button>
  </li>
</ul>